footer{
  background-color: #F5F6F5;
  font-size:$font-size-xs;
  font-family: $font-family-light;
  //background-color: $gray-300;
}

.footer p{
  font-size:$font-size-sm;
}
.footer ul{
  font-size:$font-size-xs;
}

.blue-border{
  //border:none;
  //border-width: 1px;
  //border-top-color: $blue-light;
  //border-top-style: dashed;
  background-image: url('../images/line-dash-blue.png');
  background-repeat: repeat-x;
}
.blue-border.bottom{
  background-position: bottom!important;
}
.blue-border.top{
  background-position: top;
}

.useful .blue-border{
  background-image: none;
  border:none;
  border-width: 1px;
  border-top-color: $blue-light;
  border-top-style: dashed;
}
.supporters .thx p{
  color:$gray-500;
  margin-bottom:0;
  font-family: "BlissLight", sans-serif;
  line-height: 1.2;
}

section.supporters:before {
  //content: "";
  ////position: absolute;
  //border: 5px dashed $blue-light;
  //top: -3px;
  //bottom: -3px;
  //left: -3px;
  //right: -3px;
}
section.supporters a{
  color:$blue-light;
}
.footer-nav li a{
  color:$gray-600;
  font-family: "BlissLight", sans-serif;
font-weight: 200;
}
.footer-nav li {
  border-right:1px solid $gray-500;
  padding: 0 1rem;
}
.footer-nav li:last-child{
  border-right: none;
}
.footer-nav li a .fa{
  font-size: 19px;
  float: left;
  margin-bottom: -5px;
}