
//homepage
.bg-blue-light{
  background-color: #eef6f9;
}
.homepage .text-overlay{
    z-index: 9;
    width: 70%;
    /* height: 100%; */
    /* margin-left: 15%; */
    /* vertical-align: middle; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.homepage .text-overlay.button{
  width:auto;
}
.homepage .text-overlay.button .btn{
  white-space: nowrap;
}

.homepage .text-overlay.button .btn {
  //height: 43.33px;
  //width: 306.17px;
  border-radius: 4px;
  border:none;
  background-color: rgba(0,137,191,0.8);
}
.homepage .text-overlay.button .btn:hover{
  color:$white;
}
.homepage .img-overlay {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}
.homepage .hero h1{
  color:$white;
  font-size:$font-size-lg;
  font-family: $font-family-sans-serif;
  font-weight: 200;
}
.homepage .block-cta .justify-content-lg-start{
  justify-content: center!important;
}
.homepage .block-cta .justify-content-lg-start li{
  margin:0 15px
}


@media(min-width:1200px) {
  .homepage .text-overlay {
    width:50%;
  }
  .homepage .hero h1 {
    font-size: $font-size-xl;
  }
}
//end homepage

.section.landingpagerows.center ul{
  display: inline-block;
}
.section.landingpagerows.center ul li{
  text-align: left;
}
.overlay::before{
  opacity: 0.3!important;
}
.cta p{
  line-height: 1.6;
  margin-bottom: 0;
}


.cta .btn-sm,
.cta .btn-group-sm>.btn {
  padding: 5px 15px !important;
}
.cta.blue{
  background-image: none;
  background-color: $gray-500;
}


.side-box h3{
  color:$gray-500;
}
.hero + .page-header{
  //position: absolute;
  //margin-top: -200px;
  //background-color: $white;
  //z-index: 11;
  ////opacity: 0.7;
  //left:0;
  //z-index: 11;
  //color:$white;
  //background: linear-gradient(90deg, #FFFFFF 50%, transparent 70%);
  //background: linear-gradient(90deg, #ffffff 50%, transparent 0%);
}
.hero .image-holder {
  position: relative;
  margin-bottom: 0;
}
.hero .image-holder img{
  width:100%;
  height:auto;
}


@media(max-width: 576px){

  .homepage .image-row .text-overlay {
    position: relative;
    top: initial;
    left: initial;
    transform: initial;
    width:100%;
    text-align: center;
    opacity: initial;

  }
  .homepage .image-row .text-overlay .btn{
    width:100%;
  }
}

@media(max-width: 990px){


  .page-header .page-heading{

  }
  // blue box on mboile single column
  .side-box{
    padding:15px;
    background: aliceblue;
  }
}