body.splash{
  background: $black;
  color:$brand-gray;
}

body.splash footer{
  display:none;
}
.splash a{
  color:$yellow;
}
.cover-heading{
  color:$brand-gray;
}
.hide{
  display: none!important;
}

#mc_embed_signup{
  background:transparent!important;
}
#mc_embed_signup label{
  color:$gray-900!important;
  font-size: large!important;
}
#mc-embedded-subscribe{
  //font-size: large!important;
  margin:0 0 0 0!important;
  text-transform: uppercase;

}
#mc_embed_signup div.mce_inline_error{
  background-color: #6B0505!important;
}
.splash > *,
.splash h2,
#mc_embed_signup{
  font-family: "BlissLight", sans-serif!important;
}
