.page-title  h1{
  font-size:26px;
  background-color: rgba(208,35,57,0.63);
  //background-color: rgba(255,235,237,0.63);
  display: inline-block;
  padding: 10px;

}

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

div.cardrow > [class^="ti-"]{
  font-size:26px;
}

//.section-title-border wider
.section-title-border{
  padding-bottom: 10px;
}
.section-title-border::before{
  width:300px;
}
.newslist .h4{
  font-size: 1.1rem;
}

p.meta{
  font-size:14px;
}

//owl overides
.owl-carousel {
  display:none;
  position: relative;
  width: 100%;
}
.owl-carousel.owl-loading{
  opacity:1;
}

.fade-in {

  animation: fadeIn ease 1.5s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.fade-out {
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}