<!-- section/page header -->
<section class="page-header {{ craft.app.request.segments|first }} blue ">

        <div class="container ">

            <div class="col-xs-12  d-flex align-items-center justify-content-xs-center">
                <h1 class="pt-5">
                    {%  if entry is defined %}
                        {#                    {{ entry.title|length ? enty.title :'News' }}#}
                        {{ entry.title }}
                    {% else %}
                        {{ craft.app.request.segments|first  |capitalize }}
                    {% endif %}
                </h1>
            </div>
        </div>


</section>

{# hidden subscribe section #}
{#    {% include '_includes/subscribe-section-top.twig' %}#}
