<!-- breadcrumb -->
<div class="container-fluid breadcrumb-bg">
    <div class="container">
<div class="  breadcrumbtrail" s>
    <ol class="container breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Blog Home 2</li>
    </ol>
</div>
    </div>
</div>