/config/project
/config/project/
/.env
/.envcopy
/.env.example
/.idea
/vendor
.DS_Store
/*.sh*
/_templatesNY107
/scripts/.env.sh
/scripts/.envprod.sh
/backups/*
/html
/public_html/assets/documents
/public_html/assets/images
/public_html/cpresources
/public_html/cpresources/
/public_html/imager/
/public_html/imager/images/
/vendor
/sql
.DS_Store
/storage/*
!/storage/rebrand
/sql/*
/templatesold/*
/templatesny107/*
config.codekit3
public_html/.htaccess
