{% extends "_layouts/site" %}

{% block content %}
    {% include '_includes/hero-banner.twig' %}
    {% include '_includes/_sectionheader' %}

{#  set up useful lnk nav #}
    {% set download = '0' %}
    {% set dlink = '0' %}
    {% set useful = '0' %}
    {% set downloadBlockCount = 0 %}
    {% set onpage = null %}

    {# breaks the loop below!????   {{entry.contentBlock.type('downloads').one().id }} #}

    {% for block in entry.contentBlock.all() %}
        {% if block.type == "downloads" %}

            {% if block.download.one().title | length %}
                {% set download = '1' %}
                {% set dlink = block.download.one().id %}
            {% else %}
                {% set download = '0' %}
                {% set dlink = '' %}
            {% endif %}
        {% endif %}
        
        {% if block.type == "usefullinks" %}
            {% if block.usefulOrgs | length %}
                {% for ulink in block.usefulOrgs.all() %}
                    {% if ulink.usefulLink | length %}
                        {% for link in ulink.usefulLink.all() %}
                            {% if link.url | length %}
                                {% set useful = '1' %}
                            {% else %}
                                {% set useful = '0' %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}

        {% if block.type == "downloads" or block.type == "usefullinks" %}
            {% set onpage = true %}
        {% endif %}
    {% endfor %}

    <!-- Page Content -->
    <section class="page generic mt-lg-4 mb-5">
        <div class="container">


            {% set downloadBlockCount = 0 %}
            <div class="onpage-nav mb-3 d-lg-none">
                {% if download == '1' %}
                    <a href="#resources" class="d-inline scroll"><span class="p-2 badge badge-pill badge-light mr-2">Useful guides</span></a>

                {% endif %}
                {% if useful == '1' %}
                    <a href="#useful" class="d-inline scroll"><span class="p-2 badge badge-pill badge-light mr-1">Useful links</span></a>

                {% endif %}
            </div>
            {#<div class="row ">#}


            {#<div class="col-lg-12 mb-3">#}
            {#<h1>{{ entry.title }}</h1>#}
            {#</div>#}
            {#</div>#}

            {% set lazyImage = false %}
            {% set blockPrefix = "" %}
            <div class="row ">
                <div class="col-xs-12 col-md-12 col-lg-7 col-xl-7">

                    {% for block in entry.contentBlock.all() %}

{#                     
                        {% switch block.type %}
                        {% default %} #}

                            {% include ('pages/_partials/_' ~ blockPrefix ~ 'block_' ~ block.type.handle) %}
                        {# {% endswitch %} #}
                    {% endfor %}
                    {% include ('_includes/block_cta.twig') %}

                </div>

                <div class="col-xs-12 col-md-12 col-lg-4 offset-lg-1 col-xl-4 offset-xl-1">
                    {% include ('_includes/sidebar_nav.twig') %}

                    <div class="onpage-nav mb-3 d-none d-lg-block">


                        {% if onpage %}
                            <h5>On this page</h5>
                        {% endif %}

                        {% if download == '1' %}
                            <a href="#resources" class="d-inline scroll"><span class="p-2 badge badge-pill badge-light mr-2">Useful guides</span></a>

                        {% endif %}
                        {% if useful == '1' %}
                            <a href="#useful" class="d-inline scroll"><span class="p-2 badge badge-pill badge-light mr-1">Useful links</span></a>
                            
                        {% endif %}
                        {#                    {{ entry.contentBlock.block.downloads[0] | length }}#}
                        
                    </div>

                    {% include('_includes/_block-subscribe-form.twig') %}
                </div>
            </div>

        </div>
    </section>

{% endblock content %}