<form action="{{ url('search/results') }}" id="search" name="search">
    <div class="input-group stylish-input-group">
        <input type="search" name="q" type="text" class="form-control search-input" placeholder="Search">
        <span class="input-group-addon">
            <button type="submit" class="btn btn-blue search-submit"

                                data-on="click"
                                data-event-category="Search"
                                data-event-action="Search button"
                                data-event-label=""
                        ><span class="searchBtnText">Search</span>
                            <i class="icon-search fa fa-search fa-sm"></i>
            </button>
   </span>
    </div>
</form>