{% extends "_layouts/base.twig" %}

{% block body %}

    <!-- site -->
    <div class="content-wrapper {{ type }} {{ hideBanner }} {{ hideFeature }} ">
        {% block content %}

        {% endblock %}
    </div>

{% endblock %}