{% extends "_layouts/base.twig" %}

{% set isHomepage = entry is defined and entry.uri == "__home__" ? true : false %}
{% block body %}
    <!-- site -->
    <div class="content-wrapper {{isHomepage}}">
   
        {% block content %}

        {% endblock %}
    </div>

{% endblock %}