{% extends "_layouts/site.twig" %}

{% block content %}


    {% for block in entry.sectionRow.all() %}

         {% include ('home_blocks/'~block.type.handle) %}
    {% endfor %}


    <section class="research mb-5  bg-blue-light py-4">
        <div class="container">
            <div class="row ">
                <div class="col-12 col-lg-8 offset-lg-2 text-center ">
                    <h3>Our research</h3>
                    <p>oorem ipsummy in my tummy os a lovey thingy  in my tummy os a lovey thingy  in my tummy os a lovey thingy on the sea no weeekin ipsumgenrtay</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-sm-4">
                    <div class="chart-container text-center">
                        <i class="fa fa-3x fa-bar-chart" aria-hidden="true"></i>

                        <div class="card-body">
                            <p class="card-text text-center">63% of crew suffered from one or more episode of work related stress</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="chart-container text-center">
                        <i class="fa fa-3x fa-pie-chart" aria-hidden="true"></i>

                        <div class="card-body">
                            <p class="card-text text-center">82% of respondents experienced low crew morale always, often or sometimes</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="chart-container text-center">
                        <i class="fa fa-3x fa-line-chart" aria-hidden="true"></i>

                        <div class="card-body">
                            <p class="card-text text-center">45% of crew have suffered from social isolation or loneliness on board</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a href="#">read more</a>
                </div>
            </div>
        </div>
    </section>


    
</script>
{% endblock %}