// 12. CONSULTATION SECTION
// 
//     12.1 background image
//     12.2 form-control
    /* 12. consultation section start */
.consultation {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* consultation section end */