// 22. CONTACT SECTION
// 
//     22.1 contact item
//     22.2 contact form
//     22.3 google map
     /* 22. contact section */
.form-control {
  border-radius: 5px;
  padding: 0 15px 2px;
  height: 40px;
  margin-bottom: 15px;
  border: 1px solid #e5e5e5;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #666;
}

.form-control:focus {
  border-color: #D00E38;
  box-shadow: none !important;
}

.form-control::-webkit-input-placeholder {
  color: #666;
}

.form-control:-ms-input-placeholder {
  color: #666;
}

.form-control::placeholder {
  color: #666;
}

/* 22.3 google map */
.map {
  position: relative;
}

.map #map_canvas {
  height: 450px;
}