//7. PROMO VIDEO SECTION
/* 7. promo video section start */
.promo-video {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo-video p {
  font-family: "Work Sans", sans-serif;
}

/* promo video section end */