//8. TESTIMONIAL SECTION
//
//    8.1. testimonial slider
//    8.2. testimonial content
    /* 8. testimonial section start */
.testimonial-slider {
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}

.testimonial-slider .prevArrow,
.testimonial-slider .nextArrow {
  position: absolute;
  top: 85px;
  border: 0;
  font-size: 20px;
  background: transparent;
  color: #D00E38;
  z-index: 9;
}

.testimonial-slider .prevArrow:focus,
.testimonial-slider .nextArrow:focus {
  outline: 0;
}

.testimonial-slider .prevArrow {
  right: 90px;
}

.testimonial-slider .nextArrow {
  right: 50px;
}

.testimonial-slider .slick-disabled {
  color: #e5e5e5;
}

.testimonial-icon {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #f5f5f5;
  color: #D00E38;
  font-size: 25px;
  line-height: 80px;
  display: inline-block;
  text-align: center;
  margin-bottom: 25px;
}

/* testimonial section end */