//15. WORK SECTION
//
//    15.1 work slider
//    15.2 slick dots
    /* 15. work section */
.work {
  /* 15.1 work slider */
}

.work-slider {
  /* 15.2 slick dots */
}

.work-slider-image {
  position: relative;
}

.work-slider-image .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
  padding: 15px 25px;
  opacity: 0;
  transition: .2s;
}

.work-slider-image .image-overlay i {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-size: 24px;
  transition: .2s ease;
  padding: 10px;
}

.work-slider-image .image-overlay i:hover {
  font-size: 30px;
}

.work-slider-image .image-overlay a.h4 {
  position: absolute;
  bottom: 50px;
  color: #fff;
  transition: .2s ease;
  transform: translateY(20px);
  opacity: 0;
}

.work-slider-image .image-overlay a.h4:hover {
  color: #D00E38;
}

.work-slider-image .image-overlay p {
  position: absolute;
  bottom: 15px;
  color: #fff;
  transform: translateY(10px);
  opacity: 0;
  transition: .3s ease;
  transition-delay: .1s;
}

.work-slider-image:hover .image-overlay {
  opacity: 1;
}

.work-slider-image:hover a.h4,
.work-slider-image:hover p {
  transform: translateY(0);
  opacity: 1;
}

.work-slider .slick-dots {
  padding-left: 0;
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
}

.work-slider .slick-dots li {
  margin: 0 14px;
}

@media (max-width: 400px) {
  .work-slider .slick-dots li {
    margin: 0 2px;
  }
}

.work-slider .slick-dots li:first-child {
  margin-left: 0;
}

.work-slider .slick-dots li button {
  height: 10px;
  width: 40px;
  border-radius: 25px;
  color: transparent;
  overflow: hidden;
  border: 0;
  border: 2px solid #e5e5e5;
  background: transparent;
  outline: 0;
  display: block;
}

.work-slider .slick-dots li button::before {
  display: none;
}

@media (max-width: 400px) {
  .work-slider .slick-dots li button {
    width: 10px;
  }
}

.work-slider .slick-dots li.slick-active button {
  border-color: #D00E38;
}