{% extends "_layouts/site" %}

{% block content %}
    {# header & hidden subscribe section #}
    {% include '_includes/_sectionheader' %}

    <!-- Page Content -->
    <section class="page generic {{ entry.type }}mt-4">
    <div class="container">

        {#<div class="row ">#}


            {#<div class="col-lg-12 mb-3">#}
                {#<h1>{{ entry.title }}</h1>#}
            {#</div>#}
        {#</div>#}

        {% set lazyImage = false %}
        {% set blockPrefix = "" %}
        <div class="row ">
            <div class="col-xs-12 col-md-8 mb-5">
                {{entry.body}}

            </div>
            
        </div>

    </div>
    </section>


{% endblock content %}